<div class="col-sm-12 col-lg-4 mb-3">
  <div class="card">
  <h1 class="card-title">No.<%= illustration.id %></h1>
    <div class="card-body">
      <%= link_to illustration_path(illustration) do %>
        <%= image_tag illustration.content, class: 'card-img-top', size: '200x200' %>
      <% end %>
    </div>
  </div>
</div>
