<div class="container pt-3">
  <div class="col-lg-8 offset-lg-2">
      <%= image_tag @illustration.content, class: 'img-thumbnail img-fluid', size: '200x200' %>
  </div>
  <!-- コメントフォーム -->
  <%= render 'titles/form', { illustration: @illustration, title: @title } %>

  <!-- コメントエリア -->
  <%= render 'titles/titles', { titles: @titles } %>
</div>
