<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'character_program_happy.png', size: '50x50'%>
    <% end %>
  </nav>
</header>